<!-- <p>up-load-form works!</p> -->
<div class="container text-center text-light">
    <h2>Input a new quote</h2>

    <!-- form -->
    <form #addForm="ngForm" (ngsubmit)='submitQuote();'>
        <div class="form-group">
            <label for="quote">Quote</label>
            <input type="text" class="form-control" placeholder="Your quote here..." [(ngModel)]="newQuote.text" id="text" name="text" #text="ngModel" required>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>quote is required *</p>
            </div>
        </div>
        <!-- label for author -->
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" placeholder="Quote by..." [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>author is required *</p>
            </div>
        </div>
        <!-- label for submit -->
        <div class="form-group">
            <label for="submit">Submitted</label>
            <input type="text" class="form-control" placeholder="posted by..." [(ngModel)]="newQuote.submitName" name="submitName" #submitName="ngModel" required>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Name is required *</p>
            </div>
        </div>
        <!-- label for date -->
        <div class="form-group">
            <label for="Date">Date</label>
            <input type="date" class="form-control" [(ngModel)]="newQuote.postDate" name="postDate" #postDate="ngModel" required>
        </div><br>
        <!-- button -->
        <button type="submit" class="btn btn-dark">Add Quote</button>
    </form>
</div>

